body {
  font-family: Arial, sans-serif;
}

.main-content {
    padding-top: 5rem !important;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  height: 220px;
  object-fit: cover;
}

h2 {
  font-weight: bold;
  border-bottom: 3px solid #000;
  display: inline-block;
  padding-bottom: 5px;
}

.navbar {
    position: fixed;
    min-width: 100%;
    z-index: 1000 !important;
}